# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

stm32f4_linux_mk/obj/tools/gcc-arm-none-eabi/
*.list
*.bin
stm32f4_linux_mk/user/stm32f4-mk.jlink

.vscode/settings.json
stm32f4_linux_mk/thirdlib/RTOS/FreeRTOS/portable/GCC
